<!DOCTYPE html>

<html>
    <head>
       
    </head>
    <body>
        <h3>Our Ratings App!</h3><br>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <ul>
                <li>{{message}}</li>
            </ul>
            {% endfor %}
            {% endif %}
            {% endwith %}

        LINKS:
        <a href="/signup">SIGN-UP</a>
        <a href="/login">LOG IN</a>
        <a href="/users">USER LIST</a>

            {% block body %}{% endblock %}
        
    </body>
</html>