{% extends 'base.html' %}
{% block body %}

<br>
<br>
Movie Details:
<ul>
    <li> Movie Name: {{name}} </li>
    <li> Year: {{year}} </li>
    <li> IMDB: <a href={{imdb}}> CLICK HERE </a> </li>
</ul>

Rate this movie by entering a value from 1-5 in the box below!<br>

<form action="/movies/{{id}}", method="GET">
 <label for="rating">My Rating*:</label><input type="number" name="rating" id="rating" value={{my_rating}}>
 <button type="submit">Submit</button>
</form>
*If you've already rated the movie, your previous rating is shown above.<br> 
You can change this rating and then click submit to update your rating. <br>


{% endblock %}